.qcm {
  margin: 20px;
}

.question {
  margin-bottom: 20px;
  border-left: 4px solid #9c27b0;
  padding-left: 10px;
}

.correct {
  color: green;
  font-weight: bold;
}

.question-text {
  font-weight: bold;
  color: #333;
}
